.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 100px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.navLinks {
  color: rgb(174, 174, 174);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  gap: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .hamSpan {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #333;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navActive {
    display: block;
    position: absolute;
    background-color: #fff;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .navActive .link {
    display: block;
    margin: 10px 0;
  }
}

.link:hover {
  color: red;
}

.mainContent {
  margin: auto;
  background-color: rgba(240, 100, 50, 0.3);
  max-width: 70%;
  padding-left: 2em;
  padding-right: 2em;
}

.profPic {
  border-radius: 100%;
}

.imageContainer {
  height: 100px;
  width: 300px;
  position: relative;
}

.formContainer {
  width: 500px;
  margin: auto;
  font-size: 12px;
  text-align: left;
}

.formContainer label,
.formContainer input {
  margin: 5px;
}

.invalid {
  border: 1px solid red;
}
