.header {
  margin: auto;
  text-align: center;
}

.navLinks {
  color: red;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.mainContent {
  margin: auto;
  background-color: rgba(240, 100, 50, 0.3);
  max-width: 70%;
  padding-left: 2em;
  padding-right: 2em;
}
